
@font-face {
    font-family: Blackpast;
    src: url(../../../fonts/Blackpast.woff);
  }
  @font-face {
    font-family: Josefin Sans Regular Roman;
    src: url(../../../fonts/Josefin\ Sans\ Regular\ Roman.TTF);
  }
.bg-about2{
    background-image: url("../../../images/fondoAcerca.jpg");
    background-position: center;
    background-size: cover;
}
/*background-size:cover;
   background-position:top;
   
   background-repeat:no-repeat;*/
   
.text-preview{
    color: #ffffff !important;
    font-family: Josefin Sans Regular Roman;
    font-weight: 500!important;
}
.cont-card-mision{
    position: relative;
    top: -165px!important;
    padding: 0 0 0 0!important;
    border: 1px solid #ccc;
    background: #EFEFEF;
}
.cont-card-mision:hover{
    background: #ffffff!important;
    transition-duration: 1s;
}
.title-vision{
 color:#1D3557!important;
}
.parrafo-vision{
    color: #1D3557;
}

.text-size-banner{
    font-size: 4.5vw;
    font-family: Blackpast;
 
    text-transform: lowercase!important;

}

.text-size-title-differences{
    font-size: 7vw;
    color:  #1D3557;
    font-family: Blackpast;
    text-transform: lowercase;
}

hr{
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: #025889;
    margin-bottom: 50px;
}

.bg-color-primary{
    background-color: #18223E;
}
 .cont-diferencia{
    justify-content: center!important;
    text-align: center;
    font-family: Josefin Sans Regular Roman!important;
    border-left: white 10px solid;
    border-right: white 10px solid;
    color: #ffffff!important;
      margin-top: 100px;
     }
     .cont-diferencia img {
    
      
  }
  
  .cont-diferencia h3 {
    position:relative;
      margin-top: 50px;
      font-family: Josefin Sans Regular Roman!important;
      color: #ffffff !important;
      font-family: 'Josefin Sans';
      font-weight: bold;
      z-index: 1;
  }
  
  .cont-diferencia p {
    position: relative;
      color: #ffffff !important;
      font-family: Josefin Sans Regular Roman!important;
      font-size: 150%;
  }
.icons-differences{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: fill;
  
}


.teams-images{
    transition: transform .2s;
}
.teams-images:hover{
    transform: scale(1.2);
}
.card-img-top{overflow: hidden;}


/*----------------------------------------seccion de las  cards-----------------------------------------------*/
.title {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    color: #5d4037;
    text-align: center;
  }
  
  p {
    line-height: 1.5em;
  }
  
  h1 + p,
  p + p {
    margin-top: 10px;
  }
  
  .container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
    // background-color: #fff;
  
    &:hover {
      .card-info {
        transform: translateY(0);
      }
      .card-info p {
        opacity: 1;
      }
      .card-info,
      .card-info p {
        transition: 0.6s $hoverEasing;
      }
      .card-info:after {
        transition: 5s $hoverEasing;
        opacity: 1;
        transform: translateY(0);
      }
      .card-bg {
        transition: 0.6s $hoverEasing, opacity 5s $hoverEasing;
        opacity: 0.8;
      }
      .card {
        transition: 0.6s $hoverEasing, box-shadow 2s $hoverEasing;
        box-shadow: rgba(white, 0.2) 0 0 40px 5px, rgba(white, 1) 0 0 0 1px,
          rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
          inset white 0 0 0 6px;
      }
    }
  }
  
  .card {
    position: relative;
    flex: 0 0 240px;
    width: 240px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
      inset rgba(white, 0.5) 0 0 0 6px;
    transition: 1s $returnEasing;
  }
  
  .card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s $returnEasing, opacity 5s 1s $returnEasing;
    pointer-events: none;
  }
  
  .card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  
    p {
      opacity: 0;
      text-shadow: rgba(black, 1) 0 2px 3px;
      transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    * {
      position: relative;
      z-index: 1;
    }
  
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(#000, 0.6) 100%
      );
      background-blend-mode: overlay;
      opacity: 0;
      transform: translateY(100%);
      transition: 5s 1s $returnEasing;
    }
  }
  
  .card-info h1 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(black, 0.5) 0 10px 10px;
  }
  