.gmail2{

    position: relative;
    color: white!important;
    background-color: #ffffff80!important;
    font-size: 2vw!important;
    font-family:'Lato';
    font-weight:bold!important;
}

.phone-numbers-select{
    color: white!important;
    justify-content: flex-start!important;
    text-align: left!important;
    font-family:'Lato';
    font-size: 2vw;
    font-weight:bold!important;
    z-index: 2000!important;
}

.phone-numbers-select::placeholder{
    color: #ffffffb3!important;
    justify-content: flex-start!important;
    text-align: left;
    font-family:'Lato';
    font-weight:bold!important;

}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}

